.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid var(--bg-surface-3);
  border-radius: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--text-primary);
  margin: 0;
}

.titleIcon {
  color: var(--blue-color);
  width: 14px;
  height: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.textareaGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 0.15em;
  color: var(--text-tech);
  text-transform: uppercase;
}

.textArea {
  width: 100%;
  background: var(--bg-surface-2);
  border: 2px solid var(--bg-surface-3);
  border-radius: 1rem;

  padding: 0.75rem 1.25rem;
  margin-top: 8px;

  font-size: 14px;
  line-height: 1.5rem;
  font-family: var(--font-mono);

  outline: none;
  resize: vertical;
  transition: all 0.3s;

  color: var(--text-primary);

  &::placeholder {
    color: #98a4af;
  }

  &:focus {
    border-color: var(--bg-surface-4);
  }
}

.input {
  input {
    font-size: 14px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

.button {
  padding: 0.75rem 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultTitle {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--text-primary);
}

.block {
  padding: 1rem;
  background-color: rgb(0 0 0 / 0.3);
  border: 1px solid rgb(255 255 255 / 0.05);
  border-radius: 0.75rem;
}

.responseLabel {
  color: rgb(255 255 255 / 0.3);
  font-size: 11px;
}
