@use '@app/styles/abstract/mixins' as *;

.container {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 0 3rem;

  @include media-sm {
    padding: 0 2rem;
  }

  @include media-xs {
    padding: 0 1rem;
  }
}
